body {
  font-family: 'nunito', sans-serif;
  font-size: 14px; 
  color: #575962;
}

*:focus {
  outline: 0 !important;
  /*    border-color: inherit !important;*/
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1, .h1 {
  font-size: 59px; }

h2, .h2 {
  font-size: 43px }

h3, .h3 {
  font-size: 35px;
  margin: 20px 0 10px; }

h4, .h4 {
  font-size: 28px;
  line-height: 30px; }

h5, .h5 {
  font-size: 25px;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 18px;
  font-weight: 600; }

p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: .7rem; }

h4.page-title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
  margin-bottom: 20px; }

.text-primary {
  color: #1D62F0 !important; }
  .text-primary:hover {
    color: #1D62F0 !important; }

.text-info {
  color: #23CCEF !important; }
  .text-info:hover {
    color: #23CCEF !important; }

.text-success {
  color: #59d05d !important; }
  .text-success:hover {
    color: #59d05d !important; }

.text-warning {
  color: #fbad4c !important; }
  .text-warning:hover {
    color: #fbad4c !important; }

.text-danger {
  color: #ff646d !important; }
  .text-danger:hover {
    color: #ff646d !important; }

label{
  color: #3f4047 !important;
  font-size: 14px !important;
}

/* font-weight */
.fw-light{
  font-weight: lighter !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-mediumbold{
  font-weight: 500 !important;
}

.fw-bold{
  font-weight: 600 !important;
}

.fw-extrabold{
  font-weight: 800 !important;
}

body {
  min-height: 100vh;
  position: relative; }

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh; }

  .main-header {
    min-height: 55px;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 1001;
    border-bottom: 1px solid #eee; }
    .main-header .logo-header {
    float: left;
    width: 260px;
    height: 55px;
    line-height: 55px;
    border-right: 1px solid #eee;
    color: #333333;
    z-index: 1001;
    font-size: 18px;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1001;
    display: inline-block; }
    .main-header .logo-header a.logo{
      color: #575962;
    }
    .main-header .logo-header .navbar-toggler{
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0;
    }
    .main-header .logo-header .navbar-toggler .navbar-toggler-icon {
      background: url(../img/menu2.png);
      background-size: cover;
      height: 1em;
      width: 1em;
      opacity: .8;
    }
    .main-header .logo-header .more{
      background: transparent;
      border: 0;
      font-size: 26px;
      padding: 0;
      opacity: 0;
    }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background: #fff;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #eee;
  box-shadow: 6px 1px 20px rgba(69, 65, 78, 0.1); }
  .sidebar .user {
    margin-top: 12.5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 12.5px;
    border-bottom: 1px solid #eee;
    display: block; }
    .sidebar .user .photo {
      width: 40px;
      height: 40px;
      overflow: hidden;
      float: left;
      margin-right: 11px;
      z-index: 5;
      border-radius: 50%; }
      .sidebar .user .photo img {
        width: 100%;
        height: 100%; }
    .sidebar .user .info a {
      white-space: nowrap;
      display: block;
      position: relative; }
      .sidebar .user .info a:hover, .sidebar .user .info a:focus {
        text-decoration: none; }
      .sidebar .user .info a > span {
        font-size: 14px;
        font-weight: 600;
        color: #777;
        letter-spacing: 0.04em;
        display: flex;
        flex-direction: column; }
        .sidebar .user .info a > span .user-level {
          color: #555;
          font-weight: 700;
          font-size: 13px;
          letter-spacing: 0.05em;
          margin-top: 5px; }
      .sidebar .user .info a .link-collapse {
        padding: 7px 0; }
    .sidebar .user .info .caret {
      position: absolute;
      top: 17px;
      right: 0px;
      border-top-color: #777; }
  .sidebar .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-top: 55px;
    padding-bottom: 100px; }
  .sidebar .nav {
    display: block;
    float: none;
    margin-top: 20px; }
    .sidebar .nav .nav-item {
      display: list-item; }
      .sidebar .nav .nav-item.active a {
        color: #575962;
        font-weight: 700; }
        .sidebar .nav .nav-item.active a:before, .sidebar .nav .nav-item.active:hover a:before {
          background: #1d7af3;
          opacity: 1 !important;
          position: absolute;
          z-index: 1;
          width: 3px;
          height: 100%;
          content: '';
          left: 0;
          top: 0; }
        .sidebar .nav .nav-item.active a i {
          color: #4d7cfe; }
      .sidebar .nav .nav-item a {
        display: flex;
        align-items: center;
        color: #83848a;
        padding: 13px 25px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        margin-bottom: 5px; }
        .sidebar .nav .nav-item a:hover, .sidebar .nav .nav-item a:focus {
          text-decoration: none;
          background: #fbfbfb; }
      .sidebar .nav .nav-item:hover a:before {
        background: #1d7af3;
        opacity: 0.7;
        position: absolute;
        z-index: 1;
        width: 3px;
        height: 100%;
        content: '';
        left: 0;
        top: 0; }
      .sidebar .nav .nav-item a i {
        font-size: 23px;
        color: #C3C5CA;
        margin-right: 15px;
        width: 25px;
        text-align: center;
        vertical-align: middle;
        float: left; }
      .sidebar .nav .nav-item a p {
        font-size: 14px;
        margin-bottom: 0px;
        letter-spacing: .04em; }

.main-panel {
  position: relative;
  width: calc(100% - 260px);
  min-height: 100%;
  float: right;
  background: #f2f3f8; }
  .main-panel .content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    margin-top: 55px; }

/* Card */
.card {
  border-radius: 0px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  border: 1px solid #eee; }
  .card .card-header {
    padding: 15px 15px;
    background-color: transparent;
    border-bottom: 1px solid #ebedf2 !important; }
  .card .card-title {
      margin: 0;
      color: #575962;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.6; }
      .card .card-sub{
        display: block;
        margin: 5px 0 10px 0;
        font-size: .9rem;
        background: #f7f8fa;
    color: #575962;
    padding: 0.85rem 1.5rem;
    border-radius: 4px;
      }
  .card .card-category{margin-top: 5px;}
  .card .card-category, .card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; }
  .card .card-body {
    padding: 15px 15px 10px 15px; }
  .card .card-footer {
    background-color: transparent;
    line-height: 30px;
    border-top: 1px solid #ebedf2 !important;
    font-size: 14px;
    }
    .card .card-action{
      padding: 30px;
      background-color: transparent;
      line-height: 30px;
      border-top: 1px solid #ebedf2 !important;
      font-size: 14px;
    }
    .card .card-footer hr {
      margin-top: 5px;
      margin-bottom: 5px; }
      .card .card-footer .legend {
        display: inline-block;
      }
/*    .card .card-footer div {
      display: inline-block; }*/

.card-stats .card-category{
  margin-top: 0px;
}

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px; }

.card-tasks .table thead th{
  border-top: 1px solid #f4f4f4;
  background: #fafafa !important;
}

.card-tasks .table .form-check {
  padding: 0 0 0 0.75rem !important;
}

.card-tasks .table .form-check label{
  margin-bottom: 0px !important;
}

.card-tasks .table tbody td:first-child, .card-tasks .table thead th:first-child {
  padding-left: 15px; padding-right: 15px; }

.card-tasks .table tbody td:last-child, .card-tasks .table thead th:last-child {
  padding-right: 15px; }

.card-tasks .card-body .table td {
  font-size: 14px; 
  line-height: 1.8; }
  .card-tasks .card-body .table td .btn {
    font-size: 17px;
    opacity: 0.7;
    transition: all .3s; }
  .card-tasks .card-body .table td:hover .btn {
    opacity: 1;
  }

.card-default, .card-primary, .card-info, .card-success, .card-warning, .card-danger{
  color: #fff;
  border:0px;
}

.card-default .card-header, .card-primary .card-header, .card-info .card-header, .card-success .card-header, .card-warning .card-header, .card-danger .card-header {
  border-bottom: transparent !important;
}

.card-default .card-category, .card-primary .card-category, .card-info .card-category, .card-success .card-category, .card-warning .card-category, .card-danger .card-category {
  color: #fff;
}

.card-default .card-title, .card-primary .card-title, .card-info .card-title, .card-success .card-title, .card-warning .card-title, .card-danger .card-title {
  color: #fff;
}

.card-default label, .card-primary label, .card-info label, .card-success label, .card-warning label, .card-danger label {
  color: #fff;
}

.card-default .icon-big > i, .card-primary .icon-big > i, .card-info .icon-big > i, .card-success .icon-big > i, .card-warning .icon-big > i, .card-danger .icon-big > i{
  color: #fff !important;
}

.card-default .card-footer, .card-primary .card-footer, .card-info .card-footer, .card-success .card-footer, .card-warning .card-footer, .card-danger .card-footer {
  border-top: transparent !important;
}

.card-default{
  background: #607D8B;
}

.card-primary{
  background: #1D62F0;
}

.card-info{
  background: #23CCEF;
}

.card-success{
  background: #59d05d;
}

.card-warning{
  background: #fbad4c;
}

.card-danger{
  background: #ff646d;
}

/* Progress Card */
.progress-card {
  margin-bottom: 25px;
}

/* Row Card No Padding */
.row-card-no-pd{
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.row-card-no-pd .card{
  margin-bottom: 0px;
  border-width: 0px;
  box-shadow: none;
  position: unset;
}

.row-card-no-pd [class*=col-] .card:after{
  position: absolute;
  height: calc(100%);
  width: 1px;
  background: #eee;
  content: '';
  right: 0px;
}

.row-card-no-pd [class*=col-] .card:after:last-child{
  width: 0px;
}


/* Form */

.form-button-action {
  display: inline-flex;
}

/* Check */

.select-all-checkbox + .form-check-sign:before{
  background: #ccc !important;
  border-color: #ccc !important;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + .form-check-sign, [type="checkbox"]:checked + .form-check-sign {
/*  display: flex;
    align-items: center;*/
  position: relative;
  padding-left: 1.65em;
  color: #777;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + .form-check-sign:before,
[type="checkbox"]:checked + .form-check-sign:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background: transparent;;
  border-radius: 4px;
/*  box-shadow: inset 0 1px 3px rgba(0,0,0, .1);*/
}

[type="checkbox"]:not(:checked) + .form-check-sign:after,
[type="checkbox"]:checked + .form-check-sign:after {
content: "\f17b";
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 2px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 1.5em;
    line-height: 0.8;
    color: #4D7CFE;
    transition: all .2s;
    font-family: LineAwesome;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + .form-check-sign:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + .form-check-sign:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:checked + .form-check-sign{
  font-weight: 700;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + .form-check-sign:before,
[type="checkbox"]:disabled:checked + .form-check-sign:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + .form-check-sign:after {
  color: #999;
}
[type="checkbox"]:disabled + .form-check-sign {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + .form-check-sign:before,
[type="checkbox"]:not(:checked):focus + .form-check-sign:before {
  border: 1px solid #ccc;
}

/* hover style just for information */
.form-check-sign:hover:before {
  border: 1px solid #ccc!important;
}

.form-check {
    padding-left: 0.75rem; }

.form-check-input {
  position: relative;
  margin-top: .3rem; }

/* Radio */

[type="radio"]:not(:checked), [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked) + .form-radio-sign, [type="radio"]:checked + .form-radio-sign {
  position: relative;
  padding-left: 1.65em;
  color: #777;
  cursor: pointer;
}

[type="radio"]:not(:checked) + .form-radio-sign:before,
[type="radio"]:checked + .form-radio-sign:before {
  content: "\f18a";
  font-size: 22px;
  font-family: LineAwesome;
  position: absolute;
  left: 0;
  top: auto;
  background: transparent;
  line-height: 1;
/*  box-shadow: inset 0 1px 3px rgba(0,0,0, .1);*/
}

[type="radio"]:checked + .form-radio-sign:before{
  display: none;
}

[type="radio"]:not(:checked) + .form-radio-sign:after,
[type="radio"]:checked + .form-radio-sign:after {
  content: "\f1bc";
  position: absolute;
  left: 0px;
  top: auto;
  text-align: center;
  font-size: 22px;
  color: #4D7CFE;
  transition: all .2s;
  line-height: 1;
  font-family: LineAwesome;
}

/* checked mark aspect changes */
[type="radio"]:not(:checked) + .form-radio-sign:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + .form-radio-sign:after {
  opacity: 1;
  transform: scale(1);
}
[type="radio"]:checked + .form-radio-sign{
  font-weight: 700;
}
/* disabled radio */
[type="radio"]:disabled:not(:checked) + .form-radio-sign:before,
[type="radio"]:disabled:checked + .form-radio-sign:before {
  box-shadow: none;
  opacity: 0.65;
}
[type="radio"]:disabled:checked + .form-radio-sign:after {
  opacity: 0.65;
}
[type="radio"]:disabled + .form-radio-sign {
  color: #aaa;
  opacity: 0.65;
}
/* accessibility */
[type="radio"]:checked:focus + .form-radio-sign:before,
[type="radio"]:not(:checked):focus + .form-radio-sign:before {
  border: 1px solid #ccc;
}

.form-radio {
    padding-left: 0.75rem; }

.form-radio-input {
  position: relative;
  margin-top: .3rem; }  

/* Table */
 .table {
  color: #555 !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle; }
.table > tbody > tr > td, .table > tbody > tr > th {
  padding: 8px; }
.table > tfoot > tr > td, .table > tfoot > tr > th {
  padding: 8px; }
.table thead th {
    color: #554;
    border-bottom-width: 2px;
 }
.table td, .table th {
  font-size: 14px;
  border-color: #ebedf2 !important;
  padding: 0.75rem !important }

.table-full-width {
  margin-left: -15px;
  margin-right: -15px; }

  .table-bordered-bd-default td, .table-bordered-bd-default th {
    border: 1px solid #607D8B !important;
  }

  .table-bordered-bd-primary td, .table-bordered-bd-primary th {
    border: 1px solid #1D62F0 !important;
  }

  .table-bordered-bd-info td, .table-bordered-bd-info th {
    border: 1px solid #23CCEF !important;
  }

  .table-bordered-bd-success td, .table-bordered-bd-success th {
    border: 1px solid #59d05d !important;
  }

  .table-bordered-bd-warning td, .table-bordered-bd-warning th {
    border: 1px solid #fbad4c !important;
  }

  .table-bordered-bd-danger td, .table-bordered-bd-danger th {
    border: 1px solid #ff646d !important;
  }

  .table-striped td, .table-striped th{
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
/*
.table-bordered.table-head-bg-default, .table-bordered.table-head-bg-primary, .table-bordered.table-head-bg-info, .table-bordered.table-head-bg-success, .table-bordered.table-head-bg-warning, .table-bordered.table-head-bg-danger {
  border: 0px !important;
}*/
.table-head-bg-default {
  border: 1px solid #607D8B !important;
}

.table-head-bg-primary {
  border: 1px solid #1D62F0 !important;
}

.table-head-bg-info {
  border: 1px solid #23CCEF !important;
}

.table-head-bg-success {
  border: 1px solid #59d05d !important;
}

.table-head-bg-warning {
  border: 1px solid #fbad4c !important;
}

.table-head-bg-danger {
  border: 1px solid #ff646d !important;
}

  .table-head-bg-default thead th, .table-striped-bg-default tbody tr:nth-of-type(odd){
    background: #607D8B !important;
    color: #fff !important;
    border: 0px !important;
  }

    .table-head-bg-primary thead th, .table-striped-bg-primary tbody tr:nth-of-type(odd){
    background: #1D62F0 !important;
    color: #fff !important;
    border: 0px !important;
  }

    .table-head-bg-info thead th, .table-striped-bg-info tbody tr:nth-of-type(odd){
    background: #23CCEF !important;
    color: #fff !important;
    border: 0px !important;
  }

    .table-head-bg-success thead th, .table-striped-bg-success tbody tr:nth-of-type(odd){
    background: #59d05d !important;
    color: #fff !important;
    border: 0px !important;
  }

    .table-head-bg-warning thead th, .table-striped-bg-warning tbody tr:nth-of-type(odd){
    background: #fbad4c !important;
    color: #fff !important;
    border: 0px !important;
  }

    .table-head-bg-danger thead th, .table-striped-bg-danger tbody tr:nth-of-type(odd){
    background: #ff646d !important;
    color: #fff !important;
    border: 0px !important;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* Navbar */
.navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  line-height: 55px;
  letter-spacing: 0.04em;
  padding: 0 20px 0 0;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-align: center; }
  .navbar .navbar-nav .nav-item .nav-link i {
    font-size: 22px;
    width: 30px;
    vertical-align: middle; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: auto;
  right: 0; }

.dropdown-item {
  font-size: 14px; }

.navbar .navbar-nav .notification {
  position: absolute;
  background-color: #ff646d;
  text-align: center;
  border-radius: 10px;
  min-width: 17px;
  height: 17px;
  font-size: 11px;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 17px;
  top: 11px;
  right: 12px; }

.navbar-header {
  padding: 0px 15px;}

.navbar-header .dropdown-toggle {
  line-height: 55px; }
  .navbar-header .dropdown-toggle::after {
    margin-left: 0; }

.profile-pic:hover, .profile-pic:focus {
  text-decoration: none; }

.navbar-header .dropdown-toggle::after {
  vertical-align: middle;
  color: #555; }

.hidden-caret .dropdown-toggle::after {
  display: none !important; }

.profile-pic .img-circle {
  border-radius: 50%; }
.profile-pic span {
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  color: #555; }

/* badge */
.badge {
  border-radius: 50px;
  margin-left: auto;
  line-height: 1;
  padding: 6px 10px;
  vertical-align: middle;
  font-weight: 700;
  font-size: 11px; }

.badge-count {
  border: 1px solid #ddd; }

.badge-default{
  background: #607D8B;
  color: #fff !important; }  

.badge-primary{
  background: #1D62F0; }  

.badge-info{
  background: #23CCEF; }     

.badge-success {
  background-color: #59d05d; }

.badge-warning{
  background: #fbad4c;
  color: #fff !important }     

.badge-danger {
  background-color: #ff646d; }

.dropdown-menu {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0 !important;
  -moz-box-shadow: 0 !important;
  padding-bottom: 8px;
  margin-top: 0; }

/* Notification dropdown */

.dropdown-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
    color: #263238;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 20px 10px;
    text-align: center;
}

.notif-box {
  width: 280px;
  padding-bottom: 0px;
}

.notif-box .notif-center a {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  color: #4d585f;
}

.notif-box .notif-center a:hover {
  text-decoration: none;
  background: #fafafa;
  transition: all .2s;
}

.notif-box .notif-center a .notif-icon, .notif-box .notif-center a .notif-img{
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  background: #eee;
    border-radius: 50%;
}

.notif-box .notif-center a .notif-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notif-box .notif-center a .notif-icon.notif-default, .notif-box .notif-center a .notif-icon.notif-primary, .notif-box .notif-center a .notif-icon.notif-info, .notif-box .notif-center a .notif-icon.notif-success, .notif-box .notif-center a .notif-icon.notif-warning, .notif-box .notif-center a .notif-icon.notif-danger {
  color: #fff !important;
} 

.notif-box .notif-center a .notif-icon.notif-default{
  background: #607D8B !important;
}

.notif-box .notif-center a .notif-icon.notif-primary{
  background: #1D62F0 !important;
}

.notif-box .notif-center a .notif-icon.notif-info{
  background: #23CCEF !important;
}

.notif-box .notif-center a .notif-icon.notif-success{
  background: #59d05d !important;
}

.notif-box .notif-center a .notif-icon.notif-warning{
  background: #fbad4c !important;
}

.notif-box .notif-center a .notif-icon.notif-danger{
  background: #ff646d !important;
}

.notif-box .notif-center a .notif-icon i{
  font-size: 21px;
}

.notif-box .notif-center a .notif-content{
    padding: 10px 15px 10px 0;
}

.notif-box .notif-center a .notif-content .block {
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.notif-box .notif-center a .notif-content .time{
  color: #7d8c95;
  font-size: 12px;
}

.notif-box .see-all, .notif-box .see-all:hover{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.notif-box .see-all i{
  float: right;
  }

/* User Dropdown */
.dropdown-user{
  width: 280px;
}

.user-box {
  display: flex;
  padding: .25rem 1rem; }
  .user-box .u-img {
    width: 80px; }
    .user-box .u-img img {
      width: 100%;
      border-radius: 5px; }
  .user-box .u-text {
    padding: 0 10px; }
    .user-box .u-text h4 {
      margin-bottom: 0;
      font-size: 18px; }
    .user-box .u-text .text-muted {
      font-size: 13px;
      margin-bottom: 5px; }
    .user-box .u-text .btn {
      font-size: 12px; }

/* Button */
.btn-rounded {
  border-radius: 60px !important; }

.btn-simple-info, .btn-simple-info:hover{
  color: #1D62F0;
  text-decoration: none;
}

.btn-simple-danger, .btn-simple-danger:hover{
  color: #ff646d;
  text-decoration: none;
}

.btn-simple-warning, .btn-simple-warning:hover{
  color: #fbad4c;
  text-decoration: none;
}

.btn-simple-success, .btn-simple-success:hover{
  color: #59d05d;
  text-decoration: none;
}

.btn-full{
  width: 100%;
}

.btn-no-radius{
  border-radius: 0px;
}

/* Chart */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent; }

.chart {
  margin: 30px 0 30px;
  position: relative; }

  .ct-chart-pie .ct-label, .ct-chart-donut .ct-label {
    fill: #fff !important;
    color: #fff !important;
  }

  .chart-circle{
    display: flex;
    justify-content: center;
  }

  .chart-circle .circles-text{
    font-size: 28px !important;
  }

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
}

.chart-pie {
  display: block;
  position: relative;
  width: 100%; }
  .chart-pie:before {
    display: block;
    float: left;
    content: "";
    width: 0;
    height: 0;
    padding-bottom: 75%; }
  .chart-pie:after {
    content: "";
    display: table;
    clear: both; }
  .chart-pie svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

    /* For all zoom buttons */
    .mapael .map {
      position: relative;
    }

    .mapael .zoomButton {
      background-color: #292929;
      border: 1px solid #292929;
      color: #fff;
      width: 15px;
      height: 15px;
      line-height: 12px;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      position: absolute;
      top: 0;
      font-weight: bold;
      left: 10px;

      -webkit-user-select: none;
      -khtml-user-select : none;
      -moz-user-select: none;
      -o-user-select : none;
      user-select: none;
    }

    /* Reset Zoom button first */
    .mapael .zoomReset {
      top: 10px;
    }

    /* Then Zoom In button */
    .mapael .zoomIn {
      top: 30px;
    }

    /* Then Zoom Out button */
    .mapael .zoomOut {
      top: 50px;
    }

    .mapael .mapTooltip {
      position: absolute;
      background-color: #474c4b;
      moz-opacity: 0.70;
      opacity: 0.70;
      filter: alpha(opacity=70);
      border-radius: 10px;
      padding: 10px;
      z-index: 1000;
      max-width: 200px;
      display: none;
      color: #fff;
    }

    /* alert */
    .alert{
      border: 0px;
      color: #fff;
      position: relative;
      padding-left: 65px;
    }

    .alert [data-notify="icon"]{
      font-size: 30px;
      display: block;
      left: 15px;
      position: absolute;
      top: 50%;
      margin-top: -15px;
    }

    .alert [data-notify="title"]{
      display: block;
      font-weight: bold;
    }

    .alert [data-notify="message"]{
      font-size: 14px;
    }

    .alert .close{
    background: rgba(255, 255, 255, 0.8);
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: auto !important;
    border-radius: 50%;
    }

    .alert-primary {
      background-color: #1D62F0;
    }

    .alert-info {
      background-color: #23CCEF;
    }

    .alert-success {
      background-color: #59d05d;
    }

    .alert-warning {
      background-color: #fbad4c;
    }

    .alert-danger {
      background-color: #ff646d;
    }

    /* Nav Search */
    .nav-search .input-group{
      border: 1px solid #eee;
      background: #eee;
      border-radius: 50px;
    }

    .nav-search .input-group:hover, .nav-search .input-group:focus{
      border: 1px solid #ddd;
    }

    .nav-search .form-control{
    border: 0;
    background: transparent;
    font-size: 14px;
    }

    .nav-search .input-group-text{
    border:0;
    background: transparent;
    }

    .nav-search .search-icon{
      font-size: 21px;
      color: #666;
    }

    /* Footer */
    .footer{
      border-top: 1px solid #eee;
      padding: 15px;
      background: #fff;
    }

    .footer .container-fluid{
      display: flex;
      align-items: center;
    }

    /* Background */
    .bg-default{
  background: #607D8B !important;
    }

    .bg-primary{
  background: #1D62F0 !important;
    }

    .bg-info{
  background: #23CCEF !important;
    }

    .bg-success{
  background: #59d05d !important;
    }

    .bg-warning{
  background: #fbad4c !important;
    }

    .bg-danger{
  background: #ff646d !important;
    }

    /*Button*/

    .btn {
      padding: 8px 16px;
      font-size: 14px;
      opacity: 0.9;
      border-radius: 3px;
    }

    .btn:hover, .btn:focus{
      opacity: 1;
    }

    .btn-lg {
      font-size: 18px;
      border-radius: 6px;
      padding: 10px 30px;
      font-weight: 400;
    }

    .btn-sm{
      font-size: 12px;
      padding: 7px 13px;
    }

    .btn-xs{
      font-size: 11px;
      padding: 5px 9px;
    }

    .btn.disabled:hover , .btn:hover:disabled{
      opacity: 0.65;
    }

    .btn-default, .btn-default:hover, .btn-default:focus , .btn-default:disabled{
      background: #607D8B !important;
      color: #fff !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:focus , .btn-primary:disabled {
      background: #1D62F0 !important;
      border-color: #1D62F0 !important;
    }

    .btn-info, .btn-info:hover, .btn-info:focus, .btn-info:disabled{
      background: #23CCEF !important;
      border-color: #23CCEF !important;
    }

    .btn-success, .btn-success:hover, .btn-success:focus, .btn-success:disabled{
      background: #59d05d !important;
      border-color: #59d05d !important;
    }

    .btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:disabled{
      background: #fbad4c !important;
      border-color: #fbad4c !important;
      color: #fff !important;
    }

    .btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:disabled{
      background: #ff646d !important;
      border-color: #ff646d !important;
    }

    .btn-border, .btn-border:hover, .btn-border:focus{
      background: transparent !important;
      font-weight: 600 !important;
    }

    .btn-default.btn-border{
      color:#607D8B !important;
      border: 2px solid #607D8B !important;
    }

    .btn-primary.btn-border{
      color:#1D62F0 !important;
      border: 2px solid #1D62F0 !important;
    }

    .btn-info.btn-border{
      color:#23CCEF !important;
      border: 2px solid #23CCEF !important;
    }

    .btn-success.btn-border{
      color:#59d05d !important;
      border: 2px solid #59d05d !important;
    }

    .btn-warning.btn-border{
      color:#fbad4c !important;
      border: 2px solid #fbad4c !important;
    }

    .btn-danger.btn-border{
      color:#ff646d  !important;
      border: 2px solid #ff646d !important;
    }

    .btn-round{
    border-radius: 100px !important;
    }

    .btn-link{
      border: 0 !important;
      background: transparent !important;
    }

    .btn-link:hover, .btn-link:focus {
      text-decoration: underline !important;
      background: transparent !important;
      border: 0 !important;
    }

    .btn-default.btn-link, .btn-default.btn-link:hover{
      color:#607D8B !important;
    }

    .btn-primary.btn-link, .btn-primary.btn-link:hover{
      color:#1D62F0 !important;
    }

    .btn-info.btn-link, .btn-info.btn-link:hover{
      color:#23CCEF !important;
    }

    .btn-success.btn-link, .btn-success.btn-link:hover{
      color:#59d05d !important;
    }

    .btn-warning.btn-link, .btn-warning.btn-link:hover{
      color:#fbad4c !important;
    }

    .btn-danger.btn-link, .btn-danger.btn-link:hover{
      color:#ff646d !important;
    }

    .toggle-on.btn {
      color: #fff !important;
    }

    .toggle-handle, .toggle-handle:hover {
      background: #fff !important;
    }

    .btn-round .toggle-handle {
      border-radius: 50px;
    }

    /* Input */
    .form-group, .form-check {
      margin-bottom: 0;
      padding: 15px 10px;
    }

    .form-group label, .form-check label {
      margin-bottom: .5rem !important;
      color: #3f4047 !important;
      font-weight: 400;
      font-size: 1rem;
    }

    .form-inline label{
      margin-bottom: 0 !important;
    }

    .input-fixed{
      width: 200px;
    }
/*
    .form-control{
      font-size: 15px;
      /*padding: 0.5rem 1rem;
    }*/

    .form-control.input-full{
      width: 100% !important;
    }

    .has-success .form-control {
      border-color: #59d05d;
      color: #59d05d;
    }

    .has-error .form-control{
      border-color: #ff646d;
      color: #ff646d;
    }

    .has-feedback{
      position: relative;
    }

    .form-control-feedback{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }

    .has-success .form-control-feedback{
      color: #59d05d; 
    }
  
  .has-error .form-control-feedback{
      color: #ff646d;   
  }

    .input-group.has-icon{
      border-radius: .25rem;
      border: 1px solid #ced4da;
    }

    .input-group.has-success, .input-group.has-icon.has-success{
      border-color: 1px solid #59d05d !important;
      color: #59d05d;
    }

    .input-group.has-error, .input-group.has-icon.has-error{
      border: 1px solid #ff646d !important;
      color: #ff646d;
    }

    .input-group.has-icon .form-control{
    border-radius: .25rem;
    border: 0px;
    position: relative;
    }

    .input-group.has-icon .input-group-icon{
      background: transparent;
      border: 0px;
    }

    .input-square{
      border-radius: 0px !important;
    }

    .input-pill{
      border-radius: 1.3rem !important;
    }

    .input-solid, .form-control:disabled, .form-control[readonly]{
      background: #e8e8e8 !important;
      border-color: #e8e8e8 !important;
    }

    .form-control:disabled, .form-control[readonly]{
      opacity: 0.6 !important;
    }

    /* Nav Pill */
    .nav-pills > li:first-child > a {
      border-radius: 4px 0 0 4px !important;
    }

    .nav-pills > li:last-child > a {
      border-radius: 0 4px 4px 0 !important;
    }

    .nav-link.disabled {
      color: #6c757d !important;
    }

    .nav-pills > li > a {
      margin-left: -1px;
      border-radius: 0 !important;
    }

    .nav-pills > li > a.active {
      background: #1D62F0;
    }

    .nav-pills > li > a {
      border: 1px solid #1D62F0;
      color: #1D62F0;
    }

    .nav-pills > li > a:hover {
      background: #fafafa;
    }

    .nav-pills.nav-default > li > a.active {
      background: #607D8B;
    }

    .nav-pills.nav-default > li > a {
      border: 1px solid #607D8B;
      color: #607D8B;
    }

    .nav-pills.nav-primary > li > a.active {
      background: #1D62F0;
    }

    .nav-pills.nav-primary > li > a {
      border: 1px solid #1D62F0;
      color: #1D62F0;
    }

    .nav-pills.nav-info > li > a.active {
      background: #23CCEF;
    }

    .nav-pills.nav-info > li > a {
      border: 1px solid #23CCEF;
      color: #23CCEF;
    }

    .nav-pills.nav-success > li > a.active {
      background: #59d05d;
    }

    .nav-pills.nav-success > li > a {
      border: 1px solid #59d05d;
      color: #59d05d;
    }

    .nav-pills.nav-warning > li > a.active {
      background: #fbad4c;
    }

    .nav-pills.nav-warning > li > a {
      border: 1px solid #fbad4c;
      color: #fbad4c;
    }

    .nav-pills.nav-danger > li > a.active {
      background: #ff646d;
    }

    .nav-pills.nav-danger > li > a {
      border: 1px solid #ff646d;
      color: #ff646d;
    }

    /* Pagination */

    .pagination > li > a, .pagination > li:first-child > a, .pagination > li:last-child > a, 
    .pagination > li > span, .pagination > li:first-child > span, .pagination > li:last-child > span{
      border-radius: 100px !important;
      margin: 0 2px;
      color: #777777;
      border-color: #ddd;
    }

    .pagination.pg-primary > li.active > a, .pagination.pg-primary > li.active:first-child > a, .pagination.pg-primary > li.active:last-child > a, 
    .pagination.pg-primary > li.active > span, .pagination.pg-primary > li.active:first-child > span, .pagination.pg-primary > li.active:last-child > span{
      background: #1D62F0;
      border-color: #1D62F0;
      color: #fff;
    }

    .pagination.pg-info > li.active > a, .pagination.pg-info > li.active:first-child > a, .pagination.pg-info > li.active:last-child > a, 
    .pagination.pg-info > li.active > span, .pagination.pg-info > li.active:first-child > span, .pagination.pg-info > li.active:last-child > span{
      background: #23CCEF;
      border-color: #23CCEF;
      color: #fff;
    }

    .pagination.pg-success > li.active > a, .pagination.pg-success > li.active:first-child > a, .pagination.pg-success > li.active:last-child > a, 
    .pagination.pg-success > li.active > span, .pagination.pg-success > li.active:first-child > span, .pagination.pg-success > li.active:last-child > span{
      background: #59d05d;
      border-color: #59d05d;
      color: #fff;
    }

    .pagination.pg-warning > li.active > a, .pagination.pg-warning > li.active:first-child > a, .pagination.pg-warning > li.active:last-child > a, 
    .pagination.pg-warning > li.active > span, .pagination.pg-warning > li.active:first-child > span, .pagination.pg-warning > li.active:last-child > span{
      background: #fbad4c;
      border-color: #fbad4c;
      color: #fff;
    }

    .pagination.pg-danger > li.active > a, .pagination.pg-danger > li.active:first-child > a, .pagination.pg-danger > li.active:last-child > a, 
    .pagination.pg-danger > li.active > span, .pagination.pg-danger > li.active:first-child > span, .pagination.pg-danger > li.active:last-child > span{
      background: #ff646d;
      border-color: #ff646d;
      color: #fff;
    }

    .pagination.pg-default > li.active > a, .pagination.pg-default > li.active:first-child > a, .pagination.pg-default > li.active:last-child > a, 
    .pagination.pg-default > li.active > span, .pagination.pg-default > li.active:first-child > span, .pagination.pg-default > li.active:last-child > span{
      background: #607D8B;
      border-color: #607D8B;
      color: #fff;
    }

/*# sourceMappingURL=dashbootstrap.css.map */

/*! jQuery UI - v1.12.1 - 2018-02-05
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css, selectable.css, sortable.css, slider.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle {
  -ms-touch-action: none;
  touch-action: none;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
  z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-selectable {
  -ms-touch-action: none;
  touch-action: none;
}
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}
.ui-sortable-handle {
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider {
  position: relative;
  text-align: left;
  background: #ddd;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
    width: 1em;
    height: 1em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .4em;
}

.ui-slider-horizontal .ui-slider-handle  {
  top: -.4em;
  margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.ui-slider-handle, .ui-slider-handle:focus  {
  background: #fff;
  background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, white 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, white 0%, #f7f7f7 100%);
  border-radius: 50px;
  box-shadow: 0px 1px 4px 0px #9191ab !important;
}

/* Slider */
.slider-default .ui-slider-range{
  background: #607D8B;
}

.slider-primary .ui-slider-range{
  background: #1D62F0;
}

.slider-info .ui-slider-range{
  background: #23CCEF;
}

.slider-success .ui-slider-range{
  background: #59d05d;
}

.slider-warning .ui-slider-range{
  background: #fbad4c;
}

.slider-danger .ui-slider-range{
  background: #ff646d;
}

/* Modal */
.modal .bg-default .modal-title, .modal .bg-primary .modal-title, .modal .bg-info .modal-title, .modal .bg-success .modal-title, .modal .bg-warning .modal-title, .modal .bg-danger .modal-title {
  color: #fff !important;
}


.modal-content{
  border-radius: .4rem !important;
  border: 0 !important;
}

/* Responsive */
@media screen and (max-width: 700px) {
  .row-card-no-pd [class*=col-] .card:after{
    width: 0px !important;
  }
  .row-card-no-pd .card{
    border-bottom-width: 1px;
  }
    .row-card-no-pd .card:last-child{
    border-bottom-width: 0px;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    position: fixed;
    left: 0 !important;
    right: 0;
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    -ms-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0) !important;
    transition: all .5s;
  }
  .nav_open .sidebar {
   -webkit-transform: translate3d(0px, 0, 0);
   -moz-transform: translate3d(0px, 0, 0);
   -o-transform: translate3d(0px, 0, 0);
   -ms-transform: translate3d(0px, 0, 0);
   transform: translate3d(0px, 0, 0) !important; 
 }
 .sidebar .sidebar-wrapper{
   padding-top: 0px;
 }
 .nav_open .main-panel {
  -webkit-transform: translate3d(260px, 0, 0); 
  -moz-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0) !important;
}
.nav_open .main-header {
  -webkit-transform: translate3d(260px, 0, 0); 
  -moz-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  -ms-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0) !important;
}
.main-header {
  transition: all .5s;
}
.main-panel {
  width: 100%;
  transition: all .5s;
}
.main-panel .content{
  padding: 30px 10px;
}
.main-header .logo-header {
  display: flex;
  width: 100% !important;
  text-align: left;
  position: relative;
  justify-content: center;
}
.main-header .logo-header .navbar-toggler {
  position: absolute;
  top: auto;
  height: 100%;
  left: 15px;
  opacity: 1;
}
.main-header .logo-header .more{
  opacity: 1;
  position: absolute;
  right: 15px;
  color: #545454;
  cursor: pointer;
}
.nav-search{
  width: 100%;
  margin-right: 0 !important;
  margin-top: 12px;
}
.navbar-header {
  border-top: 1px solid #eee;
  position: absolute;
  width: 100%;
  background: #fff;
  transform: translate3d(0, -200px, 0) !important;
  transition: all .5s;
}

.topbar_open .navbar-header {
  transform: translate3d(0, 54px, 0) !important;
}

.topbar_open .main-panel {
  transform: translate3d(0, 125px, 0) !important;
}

.nav_open.topbar_open .main-panel {
  transform: translate3d(260px, 125px, 0) !important;
}

.navbar-header .navbar-nav{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.navbar-header .navbar-nav .dropdown{
  position: unset;
}
.navbar-header .navbar-nav .dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 280px;
}
.profile-pic span {
  display: none;
}
}